*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: green;
}

.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}


.nav_li{
    display: inline-block;
    background-color: chartreuse;
    margin-bottom: 20px ;
}

.nav_a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    padding: 50px;
}

.welcome_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.welcome{
    background-color: chartreuse;
    text-align: center;
    width: 1240px;
}

.bird_photo{
    background-color: chartreuse;
    text-align: center;
    width: 1240px;
    margin: 25px;
}

.bird1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bird2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background-color: chartreuse;
}