*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
}

.container{
    margin: 0 auto; /*Центрирование*/
    max-width: 1440px;
    
}

.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    width: 200px;
    height: 200px;
}

.nav_color{
    background-color: rgb(123, 243, 3);
    height: 75px;
    text-align: center;
    border: 10px solid  rgb(173, 255, 91);
}

.nav_li{
    display: inline-block;
    margin-bottom: 20px ;
}

.nav_a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    padding: 50px;
}


h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}


.welcom_all{
    margin: 0 auto; /*Центрирование*/
    max-width: 1440px;
    border-top: 10px solid silver ;
    border-bottom: 10px solid silver ;
}

.welcome_container{
    background-color: chartreuse;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    border: 10px solid  rgb(173, 255, 91);
}

.welcome_title{
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 10px solid  rgb(173, 255, 91);
}

.welcome_info{
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: black;
}

.bird_container{
    background-color:chartreuse;
    text-align: center;
}

.bird_photo{
    display: flex;
    justify-content: space-between;
}


.footer{
    background-color: chartreuse;
    margin: 0 auto; /*Центрирование*/
    max-width: 1440px;
    padding: 10px;
    border: 10px solid  rgb(173, 255, 91);
}